<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet">
    <title>ログイン</title>
  </head>
  <body>
    <h1>ログインページ</h1>
    <a class="btn btn-block btn-social btn-twitter"
       href='{% url 'social:begin' 'twitter' %}'>
      <span class="fa fa-twitter"></span>Twitterでログイン
    </a>
  </body>
</html>
